.wrapper {
  width: 90%;
  background-color: theme('colors.white');
  top: 140px;
  z-index: 0;

  @media screen(sm2) {
    width: 80%;
  }
}

.wrapperActive {
  z-index: 50;
}

.underline {
  position: relative;
  transition: all 0.3s;

  &:after {
    transition: opacity 0.3s;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: theme('colors.blue-gray-700');
    opacity: 0;
  }

  &:hover {
    &:after {
      opacity: 1;
    }
  }
}

.innerList {
  li > a {
    position: relative;
    transition: all 0.3s;

    &:after {
      transition: opacity 0.3s;
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: theme('colors.blue-gray-700');
      opacity: 0;
    }

    &:hover {
      &:after {
        opacity: 1;
      }
    }
  }
}

.arrow {
  transform: rotate(0);
}

.arrowRotate {
  transform: rotate(180deg);
}

.active {
}

.listActive {
}
