.heading {
  font-size: 2.1rem;

  @media screen(sm2) {
    font-size: 2.5rem;
  }

  @media screen(md) {
    font-size: theme('fontSize.5xl');
  }

  @media screen(lg) {
    font-size: theme('fontSize.6xl');
  }
}

.logo {
  top: 65px;
  left: 30px;

  @media screen(sm2) {
    left: 90px;
  }
}

.bgImg {
  top: 0;
  left: 0;
  background-image: url('../../../assets/img/bg-pattern-intro-mobile.svg');
  background-position: top -130px left -280px;
  background-size: 300%;

  @media screen(xs) {
    background-position: top -200px left -350px;
    background-size: 250%;
  }

  @media screen(sm) {
    background-position: top -220px left -400px;
    background-size: 225%;
  }

  @media screen(sm2) {
    background-image: url('../../../assets/img/bg-pattern-intro-desktop.svg');
    background-position: top -500px left -600px;
    background-size: 250%;
  }

  @media screen(md) {
    background-position: top -650px left -600px;
    background-size: 225%;
  }

  @media screen(lg) {
    background-position: top -900px left -500px;
    background-size: 180%;
  }

  @media screen(xl) {
    background-position: top -1200px left -300px;
    background-size: 160%;
  }
}
