@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Ubuntu';
    src: url('./assets/fonts/ubuntu/Ubuntu-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Ubuntu';
    src: url('./assets/fonts/ubuntu/Ubuntu-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'Ubuntu';
    src: url('./assets/fonts/ubuntu/Ubuntu-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'Overpass';
    src: url('./assets/fonts/overpass/Overpass-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: 'Overpass';
    src: url('./assets/fonts/overpass/Overpass-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }
}

@layer components {
  .layout {
    @apply flex flex-col justify-center items-center mx-auto w-full;
  }

  .content {
    @apply flex flex-col justify-center items-center space-y-2 w-full;
  }
}
